.game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.game-over-banner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  color: black;
  padding: 2rem; // Większy padding dla większej skali
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 3rem; // Większa czcionka dla nagłówka
    margin: 1rem;
  }
}
