.game-board {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, min-content);
  gap: 20px;
}

.tile {
  display: flex;
  font-size: 4em;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-image: url("/src/assets/question-mark.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transition: transform 0.3s;
  border: 6px solid rgb(120, 120, 120);
  backface-visibility: hidden;
  animation: flipIn 1.2s ease-out backwards;

  &.hidden {
    visibility: hidden; // Ukrywa kafelek, ale zachowuje jego miejsce
  }
}

.tile:hover {
  transform: scale(1.05);
}

.tile.revealed {
  background: #cec3b5;
}

@keyframes flipIn {
  from {
    transform: rotateY(90deg);
  }
  to {
    
    transform: rotateY(0);
  }
}
