.results-table {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  tbody tr:last-child td {
    border-bottom: none;
  }

  th,
  td {
    padding: 4px;
    text-align: center;
  }

  th {
    background-color: #f4f4f4;
  }

  tr:nth-child(even) {
    background-color: #eaf5fc;
  }

  tr:nth-child(odd) {
    background-color: #f8ebfc;
  }

  td {
    border-bottom: 1px solid #ccc;
  }
}
